#numero1{
    margin-bottom: 20px;
    height: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgrey;
    
}

#numero2{
    margin-bottom: 20px;
    height: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgrey;
}

button{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    border-style: none;
}